.agenda_form{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border: 3px solid gray;
    padding: 10px;
    background: rgb(230, 226, 226);
    
}

.h1_agenda {
    margin-left: 30%;
    font-family: cursive;
    font-size: 80px;
    color: rgb(215, 184, 190);
}

.input_agenda{
    width: 100%;
}

.li_agenda {
    list-style-type: none; 
    
 }