:root{
    --red: #f54e4e;
    --green: #4aec8c;
  }
  
  body{
    background-color: #30384b;
    color: #eee;
  }
  main{
    padding-top: 225px;
    max-width: 55px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    width: 50px;
  }
  /* styles de botones tanto de play como de pause */
  button{
    background-color: transparent;
    color: rgba(255,255,255,0.8);
    border:0;
    display: inline-block;
    width: 50px;
    cursor: pointer;
  }
  /* styles de boton de Settings */
  button.with-text{
    width: auto;
    background-color:rgba(255,255,255,0.1);
    border-radius:10px;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 36px;
  }
  /* styles de icono de boton de Settings */
  button.with-text svg{
    width: 36px;
    float:left;
    margin-right: 5px;
  }
  
  label{
    display:block;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: capitalize;
  }
  .timerdiv{
    min-height: 30%;
    min-width: 30%;
    margin: 0 auto;
  }