/*Effect Pallet*/
:root {
    --bg-gradient-0: rgba(48,3,35,1);
    --bg-gradient-100: rgba(145,32,107,1);
    --bg-default: black;
    --bg-form: white;
    --opacity: 1;
    --color-shadow-1: rgba(0,0,0,0.75);
    --color-shadow-2: rgba(0,0,0,0.75);
    --color-border: #000000;
    --r-radius: 25px;
    --l-radius: 25px;
}   


*{
    margin: 0%;
    padding: 0%;
}

body {
    
    background: rgba(48,3,35,1);
background: -moz-linear-gradient(left, var(--bg-gradient-0) 0%, var(--bg-gradient-0) 41%, var(--bg-gradient-100) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, var(--bg-gradient-0)), color-stop(41%, var(--bg-gradient-0)), color-stop(100%, var(--bg-gradient-100)));
background: -webkit-linear-gradient(left, var(--bg-gradient-0) 0%, var(--bg-gradient-0) 41%, var(--bg-gradient-100) 100%);
background: -o-linear-gradient(left, var(--bg-gradient-0) 0%, var(--bg-gradient-0) 41%, var(--bg-gradient-100) 100%);
background: -ms-linear-gradient(left, var(--bg-gradient-0) 0%, var(--bg-gradient-0) 41%, var(--bg-gradient-100) 100%);
background: linear-gradient(to right, var(--bg-gradient-0) 0%, var(--bg-gradient-0) 41%, var(--bg-gradient-100) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#300323', endColorstr='#91206b', GradientType=1 );

}

h1 {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}