.m120 {
    width: 120px;
    }

    .m240 {
        width: 240px;
        }
    
    .no-border {
        border: none;
    }
    
    .m-top {
       margin-top: 5px;
    }
    .nav_estilo{
        height: 40px;
    }

    .navbarNav {
        z-index: auto;

    }