/*Effect Pallet*/

:root {
    --body-bg: rgb(0, 247, 255)
    --gradient-color0: rgba(48,3,35,1);
    --gradient-color41: rgba(48,3,35,1);
    --gradient-color100: rgba(145,32,107,1);
    --agenda-form: #151825;
    --title: white;
    --content: black;
    --todo-row-color0: rgba(20, 159, 255, 1) 0%;
    --todo-row-color100: rgba(17, 122, 255, 1) 0%;
    --icons-size: 24px;
    --delete-icon-color: white;
    --input-color: white;
    --todo-button0: ;
    --todo-button100: ;
    --todo-color: #161a2b;
}




.container {
    background-color: ;
}
.play_move{
    height: 0px;
    width: 0px;
    margin: auto;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-radius: 10px 30px 30px 10px;
    border-bottom: 100px solid #000; 
    background-color: ;
}
.circulo{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    background-color: white;
}