body {
    background: #171af9;
    background: -webkit-linear-gradient(0deg, #171af9 0%, #5d1586 100%);
    background: linear-gradient(0deg, #171af9 0%, #5d1586 100%);
    height: 100vh;
    font-family: "Helvetica", monospace
}

#root {
    height: 100%;
}

.pomodoro {
    font-size: 3em;
    display: flex; 
    height: 100%;
    justify-content: center;
    align-items: center;

}

.message {
    font-size: 0.75em;
    min-height: 1.5em;
    margin-bottom: 0.5em;
    font-family: 'Helvetica', monospace;
}