.body_register{
    background-color: rgb(51, 4, 96);
}

.form_register{
    background-color: white;
    width: 40rem;
    border-radius: 3%;
}

.img_4{
    height: 5rem;
}
.img_registro_input{
    height: 1.5rem;
}
