/*Effect Pallet*/

:root {
    --body-bg: rgb(0, 247, 255)
    --gradient-color0: rgba(48,3,35,1);
    --gradient-color41: rgba(48,3,35,1);
    --gradient-color100: rgba(145,32,107,1);
    --agenda-form: #151825;
    --title: white;
    --content: black;
    --todo-row-color0: rgba(20, 159, 255, 1) 0%;
    --todo-row-color100: rgba(17, 122, 255, 1) 0%;
    --icons-size: 24px;
    --delete-icon-color: white;
    --input-color: white;
    --todo-button0: ;
    --todo-button100: ;
    --todo-color: #161a2b;
}

/* frame del slider de trabajo */
.slider{
    margin-left: ;
    height: 40px;
    border: 2px solid var(--red);
    border-radius: 20px;
    width: 70%;
}
/* boton del deslizador de trabajo*/
.thumb{
    background-color: var(--red);
    cursor:pointer;
    width:40px;
    height: 40px;
    border-radius: 20px;
}
/* frame del slider de descanzo */
.slider.green{
    border: 2px solid var(--green);
    width: 70%;
}
/* boton del deslizador de descanzo */
.slider.green .thumb{
    background-color: var(--green);
}