*{
    margin: 0%;
    padding: 0%;
}

body{
    
    background: black;
    background: rgba(48,3,35,1);
background: -moz-linear-gradient(left, rgba(48,3,35,1) 0%, rgba(48,3,35,1) 41%, rgba(145,32,107,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,3,35,1)), color-stop(41%, rgba(48,3,35,1)), color-stop(100%, rgba(145,32,107,1)));
background: -webkit-linear-gradient(left, rgba(48,3,35,1) 0%, rgba(48,3,35,1) 41%, rgba(145,32,107,1) 100%);
background: -o-linear-gradient(left, rgba(48,3,35,1) 0%, rgba(48,3,35,1) 41%, rgba(145,32,107,1) 100%);
background: -ms-linear-gradient(left, rgba(48,3,35,1) 0%, rgba(48,3,35,1) 41%, rgba(145,32,107,1) 100%);
background: linear-gradient(to right, rgba(48,3,35,1) 0%, rgba(48,3,35,1) 41%, rgba(145,32,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#300323', endColorstr='#91206b', GradientType=1 );

}